body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f5f5f5;
}
header {
background-color: #3b5f3b;
color: white;
}
.topbar {
background-color: #2d472d;
padding: 5px;
text-align: center;
font-size: 14px;
}
.navbar {
display: flex;
justify-content: space-between;
padding: 10px 20px;
align-items: center;
}
.navbar ul {
display: flex;
gap: 15px;
list-style: none;
}
.navbar a {
color: white;
text-decoration: none;
font-weight: bold;
}
.capa {
background-color: #d9c7a6;
padding: 40px;
text-align: center;
}
.produto {
display: inline-block;
margin: 10px;
padding: 10px;
background: white;
border-radius: 6px;
width: 200px;
text-align: center;
}
.old {
text-decoration: line-through;
color: red;
}
footer {
background-color: #3b5f3b;
color: white;
padding: 20px;
text-align: center;
margin-top: 20px;
}
